<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    <div id='app'>
        <!-- prge-product 模板 -->
        <prge-product: list='product_list'></prge-product>
    </div>

    <!-- tpl 模板 -->
    <template id="tpl-prge-product">
        <div>
            <h1>商品管理</h1>
            <form action="" @submit.prevent='tyigger(' prevent_add_update ',form_product )'>
                <input type="text" v-model='form_prodict.title'>
                <input type="text" v-model='form_prodict.price'>
                <button type="submit"></button>
            </form>
            <div v-for='prodict in list'>
                <h2>{{prodict.title}}</h2>
                <h2>{{prodict.price}}</h2>
                <button @clice></button>
            </div>
        </div>

    </template>




    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="001.js"></script>
    <script src="002.js"></script>
</body>

</html>