

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}


[data-link] {
    cursor: pointer;
    color: darkblue;
    widows: 
    height: ;
}

[data-link]:hover {
    color: cornflowerblue;
}
