*{
    background: rgba(0, 0, 0,0 );
    vertical-align: top;
}

.purple{
    background: #979297;
}
.orange{
    background: orange;
}


.blue{
    background: blue;
}

.left{
    text-align: left;
}

.logo{
    display: inline-block;
    text-align: right;
    height: 50px;
}


.right{
    text-align: right;
}

.center{
    text-align: center;
}
.row.nav.center{
    font-size: 1;

}



a:hover{
    color:red;
    background: white;
}

button:hover{
    color:red;
    background: white;
}

input{
    border: 1px solid red;
    width: 400px;
    height: 30px;
}

input:focus{
    border: 1px solid red;
}

.cart button{
    height: 30px;
    width: 80px;
}





 button{
    border: 1px solid #E05E5E;  
    width: 30px;
    height: 30px;
    background: white;  
}

.nav{
    background: #e3e4e5;
}


.row.prom{
    /* display: block; */
    width: 100%;
}
.pink{
    background: pink  ;
}
.prom .col-3{
    height: 400px;
    border: 10px solid white;
}

.prom .col.col-6 .slider{
    border: 10px solid white;  
    height: 250px; 
}


.prom .slider{
    height: 250px;
    width: 100%;
    
}
.col.ad{
    width: 100%;
    height: 150px;
}

.ad .col-6{
    height: 150px;
    display: inline-block;
    border: 10px solid white;  
}

.row .card{
    display: inline-block;
    width: 100%;
}
.card .col-12 .title{
    height: 40px;
}
.red{
    background: red;
}
.card  .content{
    height: 200px;

}
.content .col-2{
    background: pink;
    height: 200px;
    border: 5px solid white;
}

.title.red,
.row.title.purple,
.row.title.orange{
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 1;
    border: 2px solid white;
}

.col.col-4 .content{
    display: inline-block;
    width: 100%;
    height: 120px; 
}
.col.col-4 .content .col-6{
    display: inline-block;
    height: 120px;
    border: 2px solid #FFFFFF;
}    
.row.content.pink{
    display: inline-block;

}


.row.card .col.col-4{
    display: inline-block;
    height: 400px;
    text-align: center;
}

.row.card .row.prom{
    display: inline-block;
    width: 100%;
    height: 180px;
    border: 2px solid white;
}
.col--1{
    display: inline-block;
    width: 100%;
    height: 15px;
    
}