<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <page-product :catlist='cat_list' :list='product_list'></page-product>
        <page-cat :list='cat_list'></page-cat>
    </div>

    <template id="tpl-page-product">
        <div>
            <h1>商品管理</h1>
            <form @submit.prevent='trigger("product_add_or_update",form_product)'>

                <div>
                    标题:
                    <input type="text" v-model='form_product.title'>
                    <div v-if='!valid_title'>标题错误</div>
                </div>
                <br> 价格:
                <input type="text" v-model='form_product.price'>
                <br> 分类:
                <select v-model=form_product.cat_id>

                    <option v-for='cat in catlist' :value="cat.id">{{cat.title}}</option>
                </select>
                <button type="submit">提交</button>
            </form>
            <div v-for='product in list'>

                <h2>商品标题:{{product.title}}
                </h2>


                <h2>商品价格:{{product.price}}</h2>

                <h2> 类目详细:
                    <select v-for='cat in catlist'>

                        <option :value="cat.id">{{cat.title}}</option>
                    </select>
                    <br>
                </h2>

                <button @click="trigger('product_del',product)">删除</button>

                <button @click="form_product = product_copy(product)">更新</button>

            </div>
        </div>
    </template>

    <template id="tpl-page-cat">
        <div>
            <h1>分类管理</h1>
            <form @submit.prevent='trigger("cat_add_or_update", form_cat)'>
                分类名称:
                <input type="text" v-model='form_cat.title'>
                <br> 父级id:
                <!-- <input type="text" v-model='form_cat.parent_id'> -->
                <select v-model='form_cat.parent_id'>
                    <option value="0">-根分类-</option>
                    <option v-for='cat in list' :value="cat.id">{{cat.title}}</option>
                </select>

                <br>
                <button type="submit">提交</button>
            </form>
            <div v-for='cat in list'>
                <h2>{{cat.title}}</h2>
                <h2>{{cat.parent_id}}</h2>
                <button @click="trigger('cat_del',cat)">删除</button>
                <button @click="form_cat= cat_copy(cat)">更新</button>
            </div>





        </div>

    </template>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
    <script src="001.js"></script>
    <script src="002.js"></script>
</body>

</html>